<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XenonMKV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <XenonMKV.My.MySettings>
            <setting name="ArbitraryMaxSplits" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MP4PlaybackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzidNormalizeAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitFileThreshold" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="OutputExtension" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="i18n" serializeAs="String">
                <value>english.xml</value>
            </setting>
            <setting name="DefaultOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomScratchFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteTempFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysUseLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPickTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CutoffTimePrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzidDRC" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="AzidFilterRearChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveOutputFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AzidDialogNormalization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzidStereoDownmix" serializeAs="String">
                <value>dpl</value>
            </setting>
            <setting name="HaltOnIncompatible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUNCPathInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundPAR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MP4BoxPath" serializeAs="String">
                <value>\tools\mp4box\MP4Box_default.exe</value>
            </setting>
            <setting name="MP4BoxOutputDirect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MKVExtractSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProvideCustomAR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeroEncodeOption" serializeAs="String">
                <value>-q</value>
            </setting>
            <setting name="NeroEncodeValue" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NeroForceNonSSE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputUpperCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainUIWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainUIHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainUIWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainUITop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainUILeft" serializeAs="String">
                <value>-1</value>
            </setting>
        </XenonMKV.My.MySettings>
    </userSettings>
</configuration>
